//Setting font size to this allows 1rem to = 10px
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(217deg, $color-primary, $color-primary-acc 70.71%),
    linear-gradient(127deg, $color-secondary, $color-secondary-acc 70.71%);
  font-family: $font-primary;
}

.c-container {
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 2rem 0rem 2rem;
  max-width: 1000px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 2rem 4rem 2rem;
  }
}

//----- Header Section ----- //
.c-box {
  background-image: url('./images/palms.jpg');
  background-position: center;
  background-size: cover;
  height: 675px;
  text-align: left;
  padding-top: 4rem;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 768px) {
    height: 200px;
  }
}
.c-box__overlay {
  position: absolute;
  bottom: 0;
  background: $color-overlay;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.c-box__title {
  font-size: 5rem;
  color: $color-white;
  font-weight: 400;
  padding-left: 3rem;
  width: 50%;
  z-index: 3;
  position: absolute;
  font-family: $font-secondary;
  line-height: 130%;
  @media only screen and (max-width: 768px) {
    width: 100%;
    font-size: 4rem;
  }
}
