@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Raleway:wght@600;700&display=swap');

$font-primay: 'Quicksand', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$color-black: #0a0a0a;
$color-primary: #651b7f;
$color-primary-acc: #737ac0;
$color-secondary: #2596be;
$color-secondary-acc: #125e9e;
$color-white: #FFFFFF;
$color-overlay: #7379c079;