/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Raleway:wght@600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

input {
  -webkit-appearance: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(217deg, #651b7f, #737ac0 70.71%), linear-gradient(127deg, #2596be, #125e9e 70.71%);
}

.c-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 8rem 2rem 0rem 2rem;
  max-width: 1000px;
}

@media only screen and (max-width: 768px) {
  .c-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 2rem 4rem 2rem;
  }
}

.c-box {
  background-image: url("./images/palms.jpg");
  background-position: center;
  background-size: cover;
  height: 675px;
  text-align: left;
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .c-box {
    height: 200px;
  }
}

.c-box__overlay {
  position: absolute;
  bottom: 0;
  background: #7379c079;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.c-box__title {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 400;
  padding-left: 3rem;
  width: 50%;
  z-index: 3;
  position: absolute;
  font-family: "Raleway", sans-serif;
  line-height: 130%;
}

@media only screen and (max-width: 768px) {
  .c-box__title {
    width: 100%;
    font-size: 4rem;
  }
}

.c-form {
  width: 100%;
  background: #ffffff;
  height: 85%;
  padding: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .c-form {
    height: 100%;
  }
}

.c-form__content {
  padding-bottom: 3rem;
}

.c-form__input {
  border: none;
  background: none;
  border-bottom: 1px solid #0a0a0a;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1rem;
}

.c-form__input:focus:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #651b7f;
}

.c-form__select {
  font-size: 1.6rem;
  width: 100%;
  padding: 0.7rem;
  border: none;
}

.choices__inner {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #0a0a0a;
  border-radius: 0px;
  background: transparent;
  min-height: auto;
  padding-top: 0;
  padding-bottom: 2.5px !important;
}

.choices__list--dropdown {
  font-family: "Quicksand", sans-serif;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}

.c-form__label {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
}

.c-form__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .c-form__row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.c-form__button {
  background: #125e9e;
  border: none;
  border-radius: 10px;
  padding: 1rem 8rem;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 1rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.c-form__button:hover {
  background: #2596be;
}

.c-form__radio--label {
  font-size: 1.4rem;
}

.c-form__group--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-form__input--checkbox {
  width: auto;
  margin: 0;
}

.c-form__label--checkbox {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.c-form__switch {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
}

.c-form__radio {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
}
/*# sourceMappingURL=main.css.map */